<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication2</title>
    @*    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />*@
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/home.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/WebApplication2.styles.css" asp-append-version="true" />*@
</head>
<body>
    <header>
        <div class="py-1_bg-primary">
            <div class="container_1">
                <div class="row_d-flex">
                    <div class="col_center">
                        <!-- <img src="D:\Imagine\phone12.png"> -->
                        <div class="col_center_3">
                            <img class="picture_phone" src="../Img/phone12.png">
                        </div>
                        <div class="col_center_3">
                            <span>+ 1235 2355 98</span>
                        </div>

                    </div>
                    <!-- <div class="col_center">
                        <span class="text">+ 1235 2355 98</span>
                    </div>
                     -->
                    <div class="col_center_right">
                        <a href="index.html" class="text"><img src="../Img/eye.png"></a>
                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar" id="ftco-navbar">
            <div class="container_1">
                <div class="left">
                    <!-- <a class="navbar-brand" href="index.html">Vegefoods</a> -->
                    <ul class="navbar-menu">
                        <li>
                            <a class="navbar-brand" href="index.html">ПинжАвия</a>

                        </li>
                        <li class="nav-item_active1">
                            <a href="index.html" class="nav-link">Информация</a>
                            <ul>
                                <li><a href="#">GHbdtn</a></li>
                                <li><a href="#">GHbdtn</a></li>
                                <li><a href="#">GHbdtn</a></li>
                                <li><a href="#">GHbdtn</a></li>
                            </ul>
                        </li>


                        <li class="nav-item_active">
                            <a href="index.html" class="nav-link">Услуги</a>
                            <ul>
                                <li><a href="#">GHbdtn</a></li>
                            </ul>
                        </li>


                    </ul>

                </div>
                <div class="collapse" id="ftco-nav">
                    <ul class="navbar-menu">
                        <li class="nav-item active"><a href="index.html" class="nav-link"><img src="../Img/find.png"></a></li>
                        <li class="nav-item active"><a href="index.html" class="nav-link"><img src="../Img/account.png"></a></li>
                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

   @* <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - WebApplication2 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/js.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
