@model Buying_ticket
@{
    ViewData["Title"] = "Home Page";
}


<section class="skying">
    @*<div class="layer layers_base" style="background-image: src(~/img/layer_base.png)"></div>
    <div class="layer layers_title" style="background-image: url('~/img/layer_midle.png')"></div>
    <div class="layer layers_front" style="background-image: url('~/img/layer_front.png')"></div>
    <div class="sky"></div>*@
    <div class="layer layers_base"><img class="layer layers_base" src="~/img/layer_base.png" /></div>
    <div class="layer layers_title"><img class="layer layers_title" src="~/img/layer_midle.png" /></div>
    <div class="layer layers_front"><img class="layer layers_front" src="~/img/layer_front.png" /></div>
    <div class="sky"></div>
</section>
<section class="main_article">
    <div class="main-article_content">
        @*<h2 class="main-article_header">To be continued</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste temporibus ut,
            nam accusantium itaque sapiente obcaecati ratione architecto ipsum eum mollitia quo.
            Doloremque totam quos mollitia, iure culpa rerum accusamus aliquam eius.
        </p>*@
    </div>
    @*<div class="copy">
        Designer
    </div>*@
    <div class="slider">
          <div class="item">
              <img src="~/img_slider/20180517_182758.jpg" />
          </div>
      
          <div class="item">
            <img  src="~/img_slider/20180711_213250.jpg" />
          </div>
      
          <div class="item">
            <img  src="~/img_slider/20181101_102153.jpg" />
          </div>
      
            <a class="prev" onclick="minusSlide()">&#10094;</a>
            <a class="next" onclick="plusSlide()">&#10095;</a>
      </div>
    <div class="forms">
        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1">Покупка билета</label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2">Онлайн-регистрация</label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3">Управление бронированием</label>
            <div id="content-1">
                <form method="post" action="/Home/Check">

                    <datalist id="CityList">
                        <option value="Moscow">Москва</option>
                        <option value="Saratov">Саратов</option>
                        <option value="Krasnodar">Краснодар</option>
                        <option value="Sochi">Сочи</option>
                        <option value="Volgograd">Волгоград</option>
                        <option value="Saint-Petersburg">Санкт-Петербург</option>
                        <option value="Samara">Самара</option>
                    </datalist>



                    <label for="City_there"></label>
                    <input type="text" placeholder="Откуда" id="City_there" name="City_there" value="" list="CityList" required>

                    <label for="City_back"></label>
                    <input type="text" placeholder="Куда" id="City_back" name="City_back" value="" list="CityList" required>

                    <label for="Date_there"></label>
                    <input type="text" placeholder="Туда" id="Date_there" name="Date_there" value="" required onfocus="this.type='date'" onblur="if(this.value==''){this.type='text'}">

                    <label for="Date_back"></label>
                    <input type="text" placeholder="Обратно" id="Date_back" name="Date_back" value="" onfocus="this.type='date'" onblur="if(this.value==''){this.type='text'}">

                    <label for="Passengers"></label>
                    <input type="button" value="Пассажиры" id="Passengers" name="Passengers" onclick="openForm()">

                    <input type="submit" value="Найти" id="search_1" name="search_1">
                </form>
            </div>
            <div id="content-2">
                <form method="post" action="/Home/Check">
                    <label for="Booking_code"></label>
                    <input type="text" placeholder="Код бронирования" id="Booking_code" name="Booking_code" value="" required>

                    <label for="FIO"></label>
                    <input type="text" placeholder="ФИО клиента" id="FIO" name="FIO" value="" required>

                    <input type="submit" value="Далее" id="search_2" name="search_2">
                </form>
            </div>
            <div id="content-3">
                <form method="post" action="/Home/Check">
                    <label for="Booking_code"></label>
                    <input type="text" placeholder="Код бронирования" id="Booking_code" name="Booking_code" value="" required>

                    <label for="FIO"></label>
                    <input type="text" placeholder="ФИО клиента" id="FIO" name="FIO" value="" required>

                    <input type="submit" value="Найти" id="search_2" name="search_2">
                </form>
            </div>
        </div>
        </div>
    <div id="content_pass" class="content_pass">
        <form method="post" action="/Home/Check">
            <input type="submit" value="×" id="bt_close" name="close" onclick="closeForm()">

            <div class="Adults">
                <label for="Adults">Взрослые от 14 лет</label>
                <input type="submit" value="-" id="Adults_minus" name="Adults_minus">
                <label for="Adults" id="label_ad">1</label>
                <input type="submit" value="+" id="Adults_plus" name="Adults_plus">
            </div>

            <div class="Kids">
                <label for="Kids">Дети от 2 до 14 лет</label>
                <input type="submit" value="-" id="Kids_minus" name="Kids_minus">
                <label for="Kids" id="label_kids">0</label>
                <input type="submit" value="+" id="Kids_plus" name="Kids_plus">
            </div>

            <div class="Baby_yes_place">
                <label for="Baby_yes_place">Младенцы до 2 лет (с местом)</label>
                <input type="submit" value="-" id="Baby_yes_place_minus" name="Baby_yes_place_minus">
                <label for="Baby_yes_place" id="label_baby_yes">0</label>
                <input type="submit" value="+" id="Baby_yes_place_plus" name="Baby_yes_place_plus">
            </div>

            <div class="Baby_no_place">
                <label for="Baby_no_place">Младенцы до 2 лет (без места)</label>
                <input type="submit" value="-" id="Baby_no_place_minus" name="Baby_no_place_minus">
                <label for="Baby_no_place" id="label_baby_no">0</label>
                <input type="submit" value="+" id="Baby_no_place_plus" name="Baby_no_place_plus">
            </div>

        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("content_pass").style.display = "block";
        }

        function closeForm() {
            document.getElementById("content_pass").style.display = "none";
        }

    </script>
</section>

