@model Buying_ticket
@{
    ViewData["Title"] = "Home Page";
}


<section class="skying">
    @*<div class="layer layers_base" style="background-image: src(~/img/layer_base.png)"></div>
    <div class="layer layers_title" style="background-image: url('~/img/layer_midle.png')"></div>
    <div class="layer layers_front" style="background-image: url('~/img/layer_front.png')"></div>
    <div class="sky"></div>*@
    <div class="layer layers_base"><img class="layer layers_base" src="~/img/layer_base.png" /></div>
    <div class="layer layers_title"><img class="layer layers_title" src="~/img/layer_midle.png" /></div>
    <div class="layer layers_front"><img class="layer layers_front" src="~/img/layer_front.png" /></div>
    <div class="sky"></div>
</section>
<section class="main_article">
    <div class="main-article_content">
        @*<h2 class="main-article_header">To be continued</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste temporibus ut,
            nam accusantium itaque sapiente obcaecati ratione architecto ipsum eum mollitia quo.
            Doloremque totam quos mollitia, iure culpa rerum accusamus aliquam eius.
        </p>*@
    </div>
    @*<div class="copy">
        Designer
    </div>*@
    <div class="slider">
          <div class="item">
              <img src="~/img_slider/20180517_182758.jpg" />
          </div>
      
          <div class="item">
            <img  src="~/img_slider/20180711_213250.jpg" />
          </div>
      
          <div class="item">
            <img  src="~/img_slider/20181101_102153.jpg" />
          </div>
      
            <a class="prev" onclick="minusSlide()">&#10094;</a>
            <a class="next" onclick="plusSlide()">&#10095;</a>
      </div>
    <div class="forms">
        <div class="tabs">
            <input type="radio" name="tab-btn" id="tab-btn-1" value="" checked>
            <label for="tab-btn-1">Покупка билета</label>
            <input type="radio" name="tab-btn" id="tab-btn-2" value="">
            <label for="tab-btn-2">Онлайн-регистрация</label>
            <input type="radio" name="tab-btn" id="tab-btn-3" value="">
            <label for="tab-btn-3">Управление бронированием</label>
            <div id="content-1">
                <form method="post" asp-controller="Home" asp-action="Check">
                    <label asp-for="City_there"></label>
                    <input asp-for="City_there"/>
                    <span asp-validation-for="City_there"></span>

                    <label asp-for="City_back"></label>
                    <input asp-for="City_back" />
                    <span asp-validation-for="City_back"></span>

                    <label asp-for="Date_there"></label>
                    <input asp-for="Date_there" />
                    <span asp-validation-for="Date_there"></span>

                    <label asp-for="Date_back"></label>
                    <input asp-for="Date_back" />
                    <span asp-validation-for="Date_back"></span>

                    <input type="submit" value="Найти" />
                </form>
            </div>
            <div id="content-2">
                Содержимое 2...
            </div>
            <div id="content-3">
                Содержимое 3...
            </div>
        </div>
    </div> 

</section>

